html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);

  background-color: var(--secondary-bgr-color);

  background-position: top left, bottom right, bottom 216px right, top;
  background-repeat: no-repeat;
  background-size: 117px, 90px, 100%, 100%;

  background-image: url(../images/png/header/pic-donuts_sm.png),
    url(../images/png/body-bg/wheat_sm.png), url(../images/png/body-bg/mobile-bot.png),
    url(../images/png/body-bg/mobile-top.png);

  @include mq(retina) {
    background-position: top left, bottom right, bottom 216px right, top;
    background-repeat: no-repeat;
    background-size: 117px, 90px, 100%, 100%;
    background-image: url(../images/png/header/pic-donuts@2x_sm.png) no-repeat top left,
      url(../images/png/body-bg/wheat_sm@2x.png) no-repeat bottom right,
      url(../images/png/body-bg/mobile-bot@2x.png) no-repeat bottom 216px right,
      url(../images/png/body-bg/mobile-top@2x.png) no-repeat top;
  }

  @include mq(tablet) {
    background-position: top right 137px, bottom right, bottom 500px left, bottom 250px right,
      bottom, top;
    background-size: 377px, 150px, 200px, 250px, 100%, 100%;
    background-repeat: no-repeat;
    background-image: url(../images/png/header/pic-donuts_md.png),
      url(../images/png/body-bg/wheat_md.png), url(../images/png/registration/donut_lg.png),
      url(../images/png/registration/kisspng-party_lg.png),
      url(../images/png/body-bg/tablet-bot.png), url(../images/png/body-bg/tablet-top.png);
  }

  @include mq(retina) {
    background-position: top right 137px, bottom right, bottom 500px left, bottom 250px right,
      bottom, top;
    background-size: 377px, 150px, 200px, 250px, 100%, 100%;
    background-repeat: no-repeat;
    background-image: url(../images/png/header/pic-donuts@2x_md.png) no-repeat top right 137px,
      url(../images/png/body-bg/wheat_md@2x.png) no-repeat bottom right,
      url(../images/png/registration/donut@2x_lg.png) no-repeat bottom 500px left,
      url(../images/png/registration/kisspng-party_lg.png) no-repeat bottom 250px right,
      url(../images/png/body-bg/tablet-bot@2x.png) no-repeat bottom,
      url(../images/png/body-bg/tablet-top@2x.png) no-repeat top;
  }

  @include mq(desktop) {
    background-position: top 180px left, top right, bottom 550px left 80px, bottom 220px right,
      bottom right, bottom, top;
    background-size: 130px, 720px, 200px, 550px, 320px, 100%, 100%;
    background-repeat: no-repeat;
    background-image: url(../images/png/body-bg/spoon-1.png),
      url(../images/png/header/pic-donuts_lg.png), url(../images/png/registration/donut_lg.png),
      url(../images/png/registration/kisspng-party_lg.png), url(../images/png/body-bg/wheat_lg.png),
      url(../images/png/body-bg/desktop-bot.png), url(../images/png/body-bg/desktop-top.png);

    @include mq(retina) {
      background-position: top 180px left, top right, bottom 550px left 80px, bottom 220px right,
        bottom right, bottom, top;
      background-size: 130px, 720px, 200px, 550px, 320px, 100%, 100%;
      background-repeat: no-repeat;
      background: url(../images/png/body-bg/spoon-1@2x.png),
        url(../images/png/header/pic-donuts_lg.png), url(../images/png/registration/donut@2x_lg.png),
        url(../images/png/registration/kisspng-party@2x_lg.png),
        url(../images/png/body-bg/wheat_lg.png), url(../images/png/body-bg/desktop-bot@2x.png),
        url(../images/png/body-bg/desktop-top@2x.png);
    }
  }
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Удаляем стандартные стили списков*/
ul {
  list-style: none;
}

/* Убираем лишние стили ссылок */
a {
  text-decoration: none;
}

/* Общие стили картинок */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Основные стили страницы */

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  @include mq(mobile-only) {
    max-width: 480px;
  }

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1280px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 40px;

  background-color: var(--modal-primary-color);

  border-radius: 25px;

  color: var(--secondary-bgr-color);

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;

  padding: 0;
  margin: 0;
  border: transparent;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
