<!-- colors -->
--primary-text-color: #2E2520;
--secondary-text-color: #000000;
--primary-bgr-color: #FEF3E4;
--secondary-bgr-color: #FFFFFF;
--modal-bgr-color: #FFFFF9;
--modal-primary-color: #AB816C;
--modal-secondary-color: #AB816C80;

<!-- shadows -->
--shadow-circle: 0px 4px 4px 0px #AB816C40;
--shadow-modal-first: 4px 4px 4px 0px #AB816C26;
--shadow-modal-second: -4px -4px 4px 0px #AB816C26;


<!-- fonts -->
--primary-font:Montserrat;
--title-font:Caveat Brush;