<section class="contact">
  <div class="container">
    <h2 class="contact__title" id="contacts">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <form class="contact__forma" action="">
      <label class="contact__label" for="mail">
        <input class="contact__input" type="email" name="email" id="mail" placeholder="Email" />
      </label>
      <label for="message">
        <textarea class="contact__message" name="text" cols="30" id="message" rows="10" placeholder="Type your question"></textarea>
      </label>
      <button class="contact__button button" type="submit">Send</button>
    </form>
  </div>
</section>
