<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h2>Contact</h2>
      <p>We will answer any question!</p>
      <form action="">
        <label for="mail">
          <input type="text" placeholder="Email" />
        </label>
        <label for="message">
          <textarea name="" id="" rows="10" placeholder="Type your question"></textarea>
        </label>
        <button type="submit">Send</button>
      </form>
    </section>
  </body>
</html>
