<footer>
  <section class="section">
    <div
      class="
        container container__basement
        animate__animated animate__delay-0,25s animate__fadeInDown
      "
    >
      <ul class="footer__social-links">
        <li class="footer__social-links__item">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            ><svg class="footer__social-links__svg">
              <use href="\images\svg\halk-svg.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-links__item">
          <a class="social-icon-twitter" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            ><svg class="footer__social-links__svg">
              <use href="\images\svg\halk-svg.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-links__item">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            ><svg class="footer__social-links__svg">
              <use href="\images\svg\halk-svg.svg#icon-faceboock"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer__contacts">
        <li class="footer__contacts__item">
          <a class="footer__contacts__item__link" href="tel:(910)222-8855">
            <svg class="footer__contacts__item__svg">
              <use href="\images\svg\halk-svg.svg#icon-phone"></use>
            </svg>
            (910)222-8855</a
          >
        </li>
        <li class="footer__contacts__item">
          <svg class="footer__contacts__item__svg">
            <use href="\images\svg\halk-svg.svg#icon-maps"></use>
          </svg>
          <p class="footer__contacts__item__text">New York</p>
        </li>
      </ul>
    </div>
  </section>
</footer>
