<!-- тут будет форма -->
<div class="form-registration">
  <h2>Registration</h2>
  <p>May 23, 11:00 New York</p>
  <p>$ 699</p>
  <form>
    <p>Apply your personal info for registration</p>
    <label for="name"><input type="text" name="name" id="name" placeholder="Your name" /></label>
    <label for="phone"
      ><input type="tel" name="phone" id="phone" placeholder="Phone number"
    /></label>
    <label for="email"><input type="email" name="email" id="email" placeholder="Email" /></label>
  </form>
  <button type="submit">Register</button>
</div>
