<div class="background-image">
    <picture>
        <source>
        <source>
        <source>
        <img class="header_donuts" src="" alt="donuts">
    </picture>
    
    </div>
    <header class="header">
        <div class="container header_container">
            <nav class="navigation">
                <a class="logo" href="#">
                    <picture>
                        <source>
                        <source>
                        <source">
                        <img>
                    </picture>
                </a>
                <button class="mobile-menu-btn" data-menu-button>
                    <svg class="mobile-menu-icon" width="30px" height="16px">
                        <use class="icon-menu" href=""></use>
                        <use class="icon-close" href=""></use>
                    </svg>
                </button>
            </nav>
        </div>
        <section class="hero">
            <div class="container hero_container">
                <h1 class="hero_tittle">Donut Masterclass<br> with the Donut King</h1>
                <p class="hero_label">Hosted by Eva Green</p>
                <a class="button hero_button link" href="">Register</a>
                <ul class="list social-list">
                    <li class="social-list_item">
                        <a href="https://twitter.com/" class="social-list_link link" target="_blank"
                            rel=" noopener noreferrer ">
                            <svg class="social-list_icon">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="https://instagram.com/" class="social-list_link link" target="_blank" rel=" noopener noreferrer ">
                            <svg class="social-list_icon">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="https://facebook.com/" class="social-list_link link"  target="_blank" rel=" noopener noreferrer ">
                            <svg class="social-list_icon">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </header>