<div class="menu-mobile is-open">
  <ul class="menu-mobile__list">
    <li class="menu-mobile__list-item">
      <svg class="menu-mobile__logo">
        <use href="./images/svg/halk-svg.svg#icon-logo"></use>
      </svg>
    </li>
    <li class="menu-mobile__list-item">
      <a class="menu-mobile__link" href="#about-us"> About us </a>
    </li>
    <li class="menu-mobile__list-item">
      <a class="menu-mobile__link" href="#program"> Program </a>
    </li>
    <li class="menu-mobile__list-item">
      <a class="menu-mobile__link" href="#reviews"> Reviews </a>
    </li>
    <li class="menu-mobile__list-item">
      <a class="menu-mobile__link" href="#contacts"> Contacts </a>
    </li>
  </ul>
</div>
