<section class="menu" >
<div class="menu__div">
<ul class="menu__list-item">
    <li class="menu__list-item">
    <button class="menu__button" type="button">
        <svg class="menu__button-svg" ></svg>
    </button>
    </li>
    <li class="menu__list-item">
        <svg class="menu__logo"></svg>
    </li>
    <li class="menu__list-item">
        <a class="menu__link" href="">
            About us
        </a>
    </li>
    <li class="menu__list-item">
        <a class="menu__link" href="">
Program
        </a>
    </li>
    <li class="menu__list-item">
        <a class="menu__link" href="">
Reviews
        </a>
    </li>
    <li class="menu__list-item">
        <a class="menu__link" href="">
Contacts
        </a>
    </li>
</ul>
</div>
</section>