<section class="menu-mobile"  >
<div class="menu-mobile__div">
    <button class="menu-mobile__btn hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
<ul class="menu-mobile__list is-open">
    <li class="menu-mobile__list-itme">
        <svg class="menu-mobile__logo">
            <use href="./images/svg/halk-svg.svg#icon-logo"></use>
        </svg>
    </li>
    <li class="menu-mobile__list-item">
        <a class="menu-mobile__link" href="">
            About us
        </a>
    </li>
    <li class="menu-mobile__list-item">
        <a class="menu-mobile__link" href="">
Program
        </a>
    </li>
    <li class="menu-mobile__list-item">
        <a class="menu-mobile__link" href="">
Reviews
        </a>
    </li>
    <li class="menu-mobile__list-item">
        <a class="menu-mobile__link" href="">
Contacts
        </a>
    </li>
</ul>
</div>
</section>