<section>
  <h2>Program</h2>
  <p>
    Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut
    shop!
  </p>
  <ul>
    <li>> A stand up history of donuts</li>
    <li>> Make 3 donut flavors of your choice</li>
    <li>> Enjoy all-you-can-eat donuts</li>
    <li>> Cocktail pairings and coffee included</li>
    <li>> Photoshoot by professional photographer</li>
    <li>> Secret receipt of cooking from Eva</li>
    <li>> All products are included in the price</li>
  </ul>
  <p>
    Come with your dear people and friends and you will spend an unforgettable time and will become
    a real professional in donuts cooking!
  </p>
  <button type="button">Less</button>
  <div>
    <img
      srcset="
        ../images/PNG/program/pic_md.png    77w,
        ../images/PNG/program/pic_lg.png    97w,
        ..images/PNG/program/pic@2x_md.png 154w,
        ..images/PNG/program/pic@2x_lg.png 194w
      "
      src="../images/PNG/program/pic_md.png"
      sizes="(max-width: 1279px) 77px, (max-width: 1279px) 154px, (min-width: 1280px) 97px, (min-width: 1280px) 194px"
      alt="donut"
    />
    <h3>Type of the event</h3>
    <p>Cooking classes</p>
    <svg width="20" height="18">
      <use href="../images/svg/halk-svg.svg#icon-chef-hat"></use>
    </svg>
  </div>
  <div>
    <img srcset="../images/PNG/program/pic-3_md.png 65w, ../images/PNG/program/pic-3_lg.png 83w,
    ..images/PNG/program/pic@2x-3_md.png 154w, ..images/PNG/program/pic@2x-3_lg.png 194w"
    src="../images/PNG/program/pic-3_md.png" alt="donut />

    <h3>Number of guests</h3>
    <p>1 to 20</p>
    <svg width="20" height="18">
      <use href="../images/svg/halk-svg.svg#icon-people"></use>
    </svg>
  </div>

  <div>
    <img
      srcset="
        ../images/PNG/program/pic-2_md.png    70w,
        ../images/PNG/program/pic-2_lg.png    88w,
        ..images/PNG/program/pic@2x-2_md.png 140w,
        ..images/PNG/program/pic@2x-2_lg.png 166w
      "
      src="../images/PNG/program/pic-2_md.png"
      alt="donut"
    />

    <h3>Time of the event</h3>
    <p>18:30 (2.5 hours).</p>
    <svg width="20" height="20">
      <use href="../images/svg/halk-svg.svg#icon-clock"></use>
    </svg>
  </div>

  <div>
    <img
      srcset="
        ../images/PNG/program/pic-1_md.png    65w,
        ../images/PNG/program/pic-1_lg.png    88w,
        ..images/PNG/program/pic@2x-1_md.png 130w,
        ..images/PNG/program/pic@2x-1_lg.png 166w
      "
      src="../images/PNG/program/pic-1_md.png"
      alt="donut"
    />

    <h3>The host speaks</h3>
    <p>English, French</p>
    <svg width="25" height="17">
      <use href="../images/svg/halk-svg.svg#icon-chat"></use>
    </svg>
  </div>
</section>
