<section class="section">
  <div
    class="container program animate__animated animate__delay-0,25s animate__fadeInDown"
    id="program"
  >
    <div class="box">
      <div class="text--box">
        <h2 class="title--primary">Program</h2>
        <p class="list__text list__text--upper list__text--font">
          Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
          donut shop!
        </p>
        <ul class="list">
          <li class="list__item list__item--font">A stand up history of donuts</li>
          <li class="list__item list__item--font">Make 3 donut flavors of your choice</li>
          <li class="list__item list__item--font">Enjoy all-you-can-eat donuts</li>
          <li class="list__item list__item--font">Cocktail pairings and coffee included</li>
          <li class="list__item list__item--font">Photoshoot by professional photographer</li>
          <li class="list__item list__item--font">Secret receipt of cooking from Eva</li>
          <li class="list__item list__item--font">All products are included in the price</li>
        </ul>
        <p class="list__text list__text--lower list__text--font is-hidden" paragraph-show-program>
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </p>
        <button class="button--read-more" type="button" data-open-program>Read more</button>
        <button class="button--read-more button__is-hidden" data-close-program>Less</button>
      </div>
      <div class="card--box">
        <div class="card card--1">
          <img
            class="card__img card__img--1"
            srcset="
              ../src/images/png/program/pic_md.png     77w,
              ../src/images/png/program/pic_lg.png     97w,
              ../src/images/png/program/pic@2x_md.png 154w,
              ../src/images/png/program/pic@2x_lg.png 194w
            "
            src="../src/images/png/program/pic_md.png"
            sizes="(max-width: 1279px) 77px, (max-width: 1279px) 154px, (min-width: 1280px) 97px, (min-width: 1280px) 194px"
            loading="lazy"
            alt="donut"
          />
          <h3 class="card__title card__title--font">Type of the event</h3>
          <p class="card__text card__text--font">Cooking classes</p>
          <svg class="card__svg" width="20" height="18">
            <use href="../src/images/svg/halk-svg.svg#icon-chef-hat"></use>
          </svg>
          <div class="card__circle"></div>
        </div>

        <div class="card card--2">
          <img
            class="card__img card__img--2"
            srcset="
              ../src/images/png/program/pic-3_md.png     65w,
              ../src/images/png/program/pic-3_lg.png     88w,
              ../src/images/png/program/pic@2x-3_md.png 130w,
              ../src/images/png/program/pic@2x-3_lg.png 166w
            "
            src="../src/images/png/program/pic-3_md.png"
            sizes="(max-width: 1279px) 65px, (max-width: 1279px) 130px, (min-width: 1280px) 88px,
      (min-width: 1280px) 166px"
            loading="lazy"
            alt="donut"
          />
          <h3 class="card__title card__title--font">Number of guests</h3>
          <p class="card__text card__text--font">1 to 20</p>
          <svg class="card__svg" width="20" height="18">
            <use href="../src/images/svg/halk-svg.svg#icon-people"></use>
          </svg>
          <div class="card__circle"></div>
        </div>

        <div class="card card--3">
          <img
            class="card__img card__img--3"
            srcset="
              ../src/images/png/program/pic-2_md.png     70w,
              ../src/images/png/program/pic-2_lg.png     88w,
              ../src/images/png/program/pic@2x-2_md.png 140w,
              ../src/images/png/program/pic@2x-2_lg.png 166w
            "
            sizes="(max-width: 1279px) 70px, (max-width: 1279px) 140px, (min-width: 1280px) 88px, (min-width: 1280px) 166px"
            loading="lazy"
            src="../src/images/png/program/pic-2_md.png"
            alt="donut"
          />
          <h3 class="card__title card__title--font">Time of the event</h3>
          <p class="card__text card__text--font">18:30 (2.5 hours).</p>
          <svg class="card__svg" width="20" height="20">
            <use href="../src/images/svg/halk-svg.svg#icon-clock"></use>
          </svg>
          <div class="card__circle"></div>
        </div>

        <div class="card card--4">
          <img
            class="card__img card__img--4"
            srcset="
              ../src/images/png/program/pic-1_md.png     65w,
              ../src/images/png/program/pic-1_lg.png     88w,
              ../src/images/png/program/pic@2x-1_md.png 130w,
              ../src/images/png/program/pic@2x-1_lg.png 166w
            "
            sizes="(max-width: 1279px) 65px, (max-width: 1279px) 130px, (min-width: 1280px) 83px, (min-width: 1280px) 166px"
            loading="lazy"
            src="../src/images/png/program/pic-1_md.png"
            alt="donut"
          />
          <h3 class="card__title card__title--font">The host speaks</h3>
          <p class="card__text card__text--font">English, French</p>
          <svg class="card__svg card__svg--4" width="25" height="17">
            <use href="../src/images/svg/halk-svg.svg#icon-chat"></use>
          </svg>
          <div class="card__circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
