<section class="reviews" id="reviews">
  <div class="reviews__container container">
    <h2>Reviews</h2>
    <div class="reviews__list">
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="./images/PNG/reviews/pic_lg.png 1x, ./images/PNG/reviews/pic@2x_lg.png 2x"
                />
                <img
                  class="image"
                  srcset="./images/PNG/reviews/pic_md.png 1x, ./images/PNG/reviews/pic_lg.png 2x"
                  src="./images/PNG/reviews/pic_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">John</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-1_lg.png    1x,
                    ./images/PNG/reviews/pic-1@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-1_md.png 1x,
                    ./images/PNG/reviews/pic-1_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-1_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Will</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-2_lg.png    1x,
                    ./images/PNG/reviews/pic-2@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-2_md.png 1x,
                    ./images/PNG/reviews/pic-2_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-2_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Elisabeth</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-3_lg.png    1x,
                    ./images/PNG/reviews/pic-3@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-3_md.png 1x,
                    ./images/PNG/reviews/pic-3_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-3_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Stephen Pacey</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-4_lg.png    1x,
                    ./images/PNG/reviews/pic-4@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-4_md.png 1x,
                    ./images/PNG/reviews/pic-4_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-4_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Claire Webb</p>
          </article>
        </div>
      </div>
      <!-- <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-5_lg.png    1x,
                    ./images/PNG/reviews/pic-5@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-5_md.png 1x,
                    ./images/PNG/reviews/pic-5_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-5_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Nim Ja</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-6_lg.png    1x,
                    ./images/PNG/reviews/pic-6@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-6_md.png 1x,
                    ./images/PNG/reviews/pic-6_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-6_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Hilda Gregory</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-7_lg.png    1x,
                    ./images/PNG/reviews/pic-7@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-7_md.png 1x,
                    ./images/PNG/reviews/pic-7_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-7_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Kidna P. Nayda</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-8_lg.png    1x,
                    ./images/PNG/reviews/pic-8@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-8_md.png 1x,
                    ./images/PNG/reviews/pic-8_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-8_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Miss Harding</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-9_lg.png    1x,
                    ./images/PNG/reviews/pic-9@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-9_md.png 1x,
                    ./images/PNG/reviews/pic-9_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-9_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Marlene Murphy</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-10_lg.png    1x,
                    ./images/PNG/reviews/pic-10@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-10_md.png 1x,
                    ./images/PNG/reviews/pic-10_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-10_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">B Varney</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-11_lg.png    1x,
                    ./images/PNG/reviews/pic-11@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-11_md.png 1x,
                    ./images/PNG/reviews/pic-11_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-11_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Paul McLaughlin</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-12_lg.png    1x,
                    ./images/PNG/reviews/pic-12@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-12_md.png 1x,
                    ./images/PNG/reviews/pic-12_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-12_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Rob Eustace</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-13_lg.png    1x,
                    ./images/PNG/reviews/pic-13@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-13_md.png 1x,
                    ./images/PNG/reviews/pic-13_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-13_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Chloe Phillips</p>
          </article>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__item__box">
          <article class="reviews__item__box__article">
            <div class="reviews__item__photo-box">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/PNG/reviews/pic-14_lg.png    1x,
                    ./images/PNG/reviews/pic-14@2x_lg.png 2x
                  "
                />
                <img
                  class="image"
                  srcset="
                    ./images/PNG/reviews/pic-14_md.png 1x,
                    ./images/PNG/reviews/pic-14_lg.png 2x
                  "
                  src="./images/PNG/reviews/pic-14_md.png"
                  alt="John"
                  width="234"
                  loading="lazy"
                />
              </picture>
            </div>
            <ul class="reviews__item__rating-list">
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews__rating-star">
                <svg class="star-icon" width="24" height="24">
                  <use href="./images/svg/halk-svg.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__name">Jesse Gladman</p>
          </article>
        </div>
      </div> -->
    </div>

    <div class="reviews__bottom">
      <div class="reviews__bottom-item" data-position="1">
        <p class="reviews__bottom-text">
          Overall, this is a very, very good donut shop, better than the ones in Portland (Oregon)
          because they keep it simple, but damn good.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="2">
        <p class="reviews__bottom-text">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="3">
        <p class="reviews__bottom-text">
          GLUTEN FREE DONUTS!!! My personal favorite was the maple bacon. Each gluten free donut was
          between $4-4.50 each.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="4">
        <p class="reviews__bottom-text">
          The Coffee tastes great , everything is great and really good service. Happy to recommend
          this cafe. Sometimes I have to wait for a seat but they always do all they can to seat
          people ASAP, just that they are busy. A+ for service.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="5">
        <p class="reviews__bottom-text">
          Nice little spot in Cas Square. I choose to come there because you always get fast,
          friendly service. Great value for money, good coffee, and my 4 year old loves the generous
          sized babychino. The cinnamon donuts are light and crispy - different experience to
          supermarket donuts
        </p>
      </div>
      <!-- <div class="reviews__bottom-item" data-position="6">
        <p class="reviews__bottom-text">
          Under new management. They do a good job at this franchise. The hot dogs are good, the
          donuts are good. The coffee was tasty and a good temperature. The staff are delightful.
          The hotdog coffee and donut deal is great value for $10!
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="7">
        <p class="reviews__bottom-text">
          Good coffee and Excellent service. I was here a few days ago and asked for extra cold
          milk. Today they remembered me and offered extra cold milk.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="8">
        <p class="reviews__bottom-text">
          It's great 🤩 place for Dounts lover's with all good variety of favourite many kinds
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="9">
        <p class="reviews__bottom-text">
          My goodness the fresh cinnamon doughnuts are to die for ♡
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="10">
        <p class="reviews__bottom-text">Good coffee & friendly helpful staff</p>
      </div>
      <div class="reviews__bottom-item" data-position="11">
        <p class="reviews__bottom-text">
          Donut king Cas. Went early donuts were very fresh and nice. Had a hotdog also quite nice
          and made fresh (as fresh as a hotdog can be made lol) staff were very friendly and
          informed me and fixed a mistake they made with my order. Very happy.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="12">
        <p class="reviews__bottom-text">Good milkshakes and fresh doughnuts.</p>
      </div>
      <div class="reviews__bottom-item" data-position="13">
        <p class="reviews__bottom-text">
          How can I give a poor review for this tasty franchise? The donuts where delicious and
          cooked quickly. The staff could be more cheerful
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="14">
        <p class="reviews__bottom-text">
          Staff were friendly, wait wasnt long, got the hot dog drink and 2 doughnuts deal got the
          doughnuts straight away had to wait a few mins for the hotdog.
        </p>
      </div>
      <div class="reviews__bottom-item" data-position="15">
        <p class="reviews__bottom-text">As good as any other donut king, hot dogs are delicious.</p>
      </div> -->
    </div>
  </div>
</section>
