<section class="reviews">
    <div class="reviews__container">
        <h2></h2>
        <ul class="reviews__list">
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list">
                        <li class="reviews__rating-star">
                            <svg class="star-icon">
                                <use></use>
                            </svg>
                        </li>
                        <li class="reviews__rating-star">
                            <svg class="star-icon">
                                <use></use>
                            </svg>
                        </li>
                        <li class="reviews__rating-star">
                            <svg class="star-icon">
                                <use></use>
                            </svg>
                        </li>
                        <li class="reviews__rating-star">
                            <svg class="star-icon">
                                <use></use>
                            </svg>
                        </li>
                        <li class="reviews__rating-star">
                            <svg class="star-icon">
                                <use></use>
                            </svg>
                        </li>
                    </ul>
                    <p>John</p>
                    <p>Overall, this is a very, very good donut shop, better than the ones in Portland (Oregon) because they keep it simple, but damn good.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Will</p>
                    <p>Last time I have visited a cooking course by Eva 
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Elisabeth</p>
                    <p>GLUTEN FREE DONUTS!!!  My personal favorite was the maple bacon.  Each gluten free donut was between $4-4.50 each.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Stephen Pacey</p>
                    <p>The Coffee tastes great , everything is great and really good service.  Happy to recommend this cafe.   Sometimes I have to wait for a seat but they always do all they can to seat people ASAP, just that they are busy. A+ for service.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Claire Webb</p>
                    <p>Nice little spot in Cas Square. I choose to come there because you always get fast, friendly service. Great value for money, good coffee, and my 4 year old loves the generous sized babychino. The cinnamon donuts are light and crispy - different experience to supermarket donuts</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Nim Ja</p>
                    <p>Under new management. They do a good job at this franchise. The hot dogs are good, the donuts are good. The coffee was tasty and a good temperature. The staff are delightful.  The hotdog coffee and donut deal is great value for $10!</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Hilda Gregory</p>
                    <p>Good coffee and Excellent service. I was here a few days ago and asked for extra cold milk. Today they remembered me and offered extra cold milk.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Kidna P. Nayda</p>
                    <p>It's great 🤩 place for Dounts lover's with all good variety of favourite many kinds</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Miss Harding</p>
                    <p>My goodness the fresh cinnamon doughnuts are to die for ♡</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Marlene Murphy</p>
                    <p>Good coffee & friendly helpful staff</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>B Varney</p>
                    <p>Donut king Cas. Went early donuts were very fresh and nice. Had a hotdog also quite nice and made fresh (as fresh as a hotdog can be made lol) staff were very friendly and informed me and fixed a mistake they made with my order. Very happy.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Paul McLaughlin</p>
                    <p>Good milkshakes and fresh doughnuts.</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Rob Eustace</p>
                    <p>How can I give a poor review for this tasty franchise? The donuts where delicious and cooked quickly. The staff could be more cheerful</p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Chloe Phillips</p>
                    <p>Staff were friendly, wait wasnt long, got the hot dog drink and 2 doughnuts deal got the doughnuts straight away had to wait a few mins for the hotdog. </p>
                </article>
            </li>
            <li class="reviews__item">
                <article>
                    <img src="" alt="">
                    <ul class="reviews__item__rating-list"></ul>
                    <p>Jesse Gladman</p>
                    <p>As good as any other donut king, hot dogs are delicious.</p>
                </article>
            </li>
        </ul>
    </div>
</section>