.footer__social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__svg {
    width: 19px;
    height: 15px;
    fill: var(--primary-text-color);

    @include mq(tablet) {
      width: 19px;
      height: 15px;
    }

    @include mq(desktop) {
      width: 24px;
      height: 19px;
    }
    &:hover,
    &:focus
    {
      fill: var(--modal-primary-color);
    }
  }
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    align-items: center;
    
    
    &__link {
      display: flex;
      align-items: center;
      color: inherit;
      &:hover,
      &:focus
      {
        color: var(--modal-primary-color);
        fill: var(--modal-primary-color);
      }
    }
    &__svg {
      height: 14px;
      width: 11px;
      margin-right: 3px;
    }
    &__text {
      display: inline;
    }
  }
}
.container__basement
{
  padding-bottom: 21px;
}
.footer__contact__link
{
  color:var(--primary-text-color);
  
}
.footer__contact__link:visited
{
  color:var(--primary-text-color);
  
}