.reviews {
  padding-bottom: 40px;
  @include mq(tablet) {
    padding-bottom: 140px;
  }
 
}

.reviews__container {
  width: 290px;
@include mq(tablet) {
   width: 626px;
 }
}

.reviews__title {
  font-family: var(--title-font);
  font-weight: normal;
font-size: 24px;
line-height: 1.8;
text-align: center;
color: #2E2520;
  @include mq(desktop) {
    font-size: 36px;
  }
  
}
.reviews__item__box__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item__rating-list {
  display: flex;
  margin-top: 10px;  
}

.reviews__list .slick-track {
  min-height: 335px;
  @include mq(tablet) {
    min-height: 300px;
  }
}

.reviews__list {  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
}

.reviews__item {
  transform: translateY(-20%)

}

.reviews__item__box__article .reviews__item__photo-box {
  transform: scale(0.6) translateY(33%);
}

.slick-current .reviews__item__photo-box{
  transform: scale(1);

}

.slick-current  {
  transform: translateY(15%);

}

.reviews__item__box__article .reviews__name {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #2e2520;
  @media (min-width: 1280px) {
    font-size: 16px;
  }
}

.reviews__item__box__article .reviews__text {
  opacity: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #2e2520;
  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.reviews__bottom-text {
  text-align: center;
  padding-bottom: 25px;
  @include mq(tablet) {
    padding-bottom: 25px;
  }
  
}

.reviews__list .reviews__item.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.reviews__list .reviews__item.active .reviews__item__photo-box {
  transform: scale(1);
}

.reviews__list .reviews__item.prev {
  @media (min-width: 768px) {
    z-index: 2;
    -webkit-transform: translateY(-60px) translateX(-250px);
    transform: translateY(-60px) translateX(-250px);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
}

.reviews__list .reviews__item.prev .reviews__item__photo-box {
  @media (min-width: 768px) {
    transform: scale(0.6);
  }
}

.reviews__list .reviews__item.prev .reviews__text {
  opacity: 0;
}

.reviews__list .reviews__item.prev .reviews__name,
.reviews__list .reviews__item.prev .reviews__item__rating-list {
  @media (min-width: 768px) {
    transform: translateY(-50px);
  }
}

.reviews__list .reviews__item.next {
  @media (min-width: 768px) {
    z-index: 2;
    -webkit-transform: translateY(-60px) translateX(+250px);
    transform: translateY(-60px) translateX(+250px);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
}

.reviews__list .reviews__item.next .reviews__item__photo-box {
  @media (min-width: 768px) {
    transform: scale(0.6);
  }
}

.reviews__list .reviews__item.next .reviews__text {
  opacity: 0;
}

.reviews__list .reviews__item.next .reviews__name,
.reviews__list .reviews__item.next .reviews__item__rating-list {
  @media (min-width: 768px) {
    transform: translateY(-50px);
  }
}

.reviews__item__photo-box {
  border-radius: 50%;
  overflow: hidden;
}

.slick {
  $s-base: &;

  &-dots {
		width: 100%;
		padding: 1% 0 0;
		margin: 0;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			position: relative;
			pointer-events: none;
			
			&:not(#{$s-base}-active) {
				display: none;
			}
		
			#{$s-base}-dots-current {
				animation: slick-dot-opening .5s;
			}
		}

		@keyframes slick-dot-opening {
			from {
				opacity: 0;
				transform: translateY(100%);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		
		&-button {
      position: relative;
			padding: 0;
			background: none;
			border: none;
			color: inherit;
			cursor: pointer;
			outline: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      color: #ab816c;
      background: #fef3e4;
      @media (min-width: 1280px) {
        font-size: 16px;
      }

      &::after {
        content: '';
        text-align: center;
        position: absolute;
        height: 1px;
        width: 35px;
        border: 1px solid #ab816c;
        bottom: 8px;
        align-items: center;
        left: -5px;
        transform: translate(-100%, -50%);
      }
      &::before {
        content: '';
        text-align: center;
        position: absolute;
        height: 1px;
        width: 35px;
        border: 1px solid #ab816c;
        bottom: 8px;
        align-items: center;
        right: -5px;
        transform: translate(100%, -50%);
      }
		}

		&-current,
		&-total {
			display: inline-block;
		}
	}
}